@charset "utf-8";

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&display=swap");

// $family-sans-serif: "Arial";
$body-background-color: "black";
$primary: #fff;
$gap: 0px !important;

@font-face {
  font-family: "AcuminPro";
  src: url(./fonts/AcuminPro-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: "AcuminPro";
  src: url(./fonts/AcuminPro-Bold.woff);
  font-weight: 600;
}

@font-face {
  font-family: "AcuminPro";
  src: url(./fonts/AcuminPro-Bold.woff);
  font-weight: bold;
}

/* Sitewide styles */
body,
html {
  background-color: #000;
  color: #fff;
  font-family: AcuminPro;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.page-title {
  // margin-top: 5rem;
  font-weight: 600;
  text-align: center;
  // margin-bottom: 5rem;
}

a {
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.nav {
  border: 1.5px solid #fff;
  margin: 2rem;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  flex: 0 0 auto;

  .nav__left {
    display: flex;

    a {
      display: contents;
    }

    .logo {
      max-width: 100px;
      margin-right: 1rem;
    }
  }

  .nav__right {
    text-transform: uppercase;

    a {
      margin-left: 1.5rem;
    }
  }

  .mobile-nav-button {
    display: none;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}

.overlay-nav {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.95);
  overflow-x: hidden;
  transition: 0.5s;

  .overlay-content {
    position: relative;
    top: 25%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      font-size: 1.15rem;
      margin-bottom: 1.5rem;
    }

    a:hover {
      font-weight: bold;
    }
  }

  .exit {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
}

/* ----- */

.section__home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 100%;
  // margin-top: 80px;
  flex: 1 1 100%;

  p {
    font-weight: 600;
  }

  .home-main-img {
    // margin: 1.5rem 0;
    // margin: -10rem 0 1.5rem;
    max-width: 80%;
  }
}

.section__raw,
.section__upcoming {
  .event-content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;

    div {
      width: 50%;
      padding: 0 1.5rem;
    }

    p {
      margin-bottom: 2rem;
    }
  }

  .images {
    padding: 0 1.5rem;
  }
}

$shelfheight: calc(100vh - 57px - 64px - 2 * 64px - 24px);
$rotamnt: -16.77deg;

.section__library {
  .library-wrapper {
    display: flex;
    gap: 96px;
  }
  .library-shelves {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    height: $shelfheight;
    margin: 64px 0;
  }
  .book {
    outline: 2px solid white;
    width: 90px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    &:hover {
      background-color: white;
      color: black;
    }
  }
  .library-preview {
    display: none;
  }
  .rotate-text {
    font-size: 24px;
    transform: rotate(-90deg) translate(16px, 48px);
    transform-origin: bottom left;
    white-space: nowrap;
  }

  .book-tilted {
    transform: rotate($rotamnt)
      translate(0, calc(#{$shelfheight} - #{$shelfheight} * 0.957470703));
    transform-origin: top left;
  }

  .library-preview {
    width: 400px;
  }
  // .library-wrapper {
  //   display: flex;
  //   flex-direction: row;
  //   height: 80vh;
  //   margin-bottom: 1rem;
  //   .library-shelves {
  //     margin: 0 auto;
  //     display: flex;
  //     flex-direction: row;
  //     padding: 1.5rem;
  //     width: 40%;
  //   }

  //   .library-preview {
  //     display: none;
  //     flex-direction: column;
  //     padding: 1.5rem;
  //     padding-left: 3rem;
  //     width: 60%;
  //     .carousel {
  //       display: block;
  //     }
  //     .editorial-title {
  //       font-size: 1.2rem;
  //       margin-bottom: 1.5rem;
  //     }
  //     .preview-description {
  //       margin-top: 1.5rem;
  //     }
  //   }
  //   .book {
  //     border: 2px solid white;
  //     width: 16%;
  //     height: 100%;
  //     display: flex;
  //     position: relative;
  //     white-space: nowrap;
  //     align-items: center;
  //     margin-right: 1rem;

  //     &.book-selected,
  //     &:hover {
  //       background-color: white;
  //       color: black !important;
  //     }

  //     &.book-tilted {
  //       transform: rotate(-13deg);
  //       margin-left: 5rem;
  //     }
  //     .rotate-text {
  //       font-size: 1.5rem;
  //       letter-spacing: 1px;
  //       position: absolute;
  //       transform: rotate(-90deg);
  //       transform-origin: 150px 120px;
  //       -webkit-transform: rotate(-90deg);
  //       -moz-transform: rotate(-90deg);
  //       -ms-transform: rotate(-90deg);
  //       -o-transform: rotate(-90deg);
  //     }
  //   }
  // }
}

.section__upcoming {
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    .upcoming-img {
      margin-top: -5rem;
      max-width: 85%;
    }
    .event-name {
      margin-top: -3rem;
      width: 100%;
      text-align: center;
      .mdc-text {
        font-size: 1.5rem;
        font-weight: 700;
      }
      .winter-launch-text {
        font-family: "Cormorant Garamond", serif;
        text-transform: uppercase;
        font-style: italic;
        font-size: 3.5rem;
        margin-top: -15px;
      }
    }
    .event-details {
      display: flex;
      margin: 4rem 0 2rem 0;
      border: 2px solid white;
      border-radius: 33px;
      justify-content: space-between;
      font-size: 1.1rem;
      p {
        margin: 0;
        font-style: italic;
      }
    }
    .feature-text {
      font-weight: 700;
    }
  }
  .event-link {
    text-decoration: underline;
    font-style: italic;
  }
}

.section__portal {
  margin: 0 156px;
  .portal-content {
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 100px;
  }

  p,
  a {
    font-weight: 600;
  }

  .columns {
    height: 100%;
    margin: 0;
    margin-top: 32px;
    .center-align {
      align-self: center;
    }

    .bottom-align {
      align-self: flex-end;
    }
  }

  .team {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      display: contents;
    }

    img {
      width: 60%;
      margin-bottom: 2.5rem;
    }
  }

  .transup {
    transform: translate(0, -64px);
  }
  .transdown {
    transform: translate(0, 64px);
  }
}

.section__purpose {
  .retracting-body {
    visibility: visible;
    padding: 1rem 2.5rem;
  }

  .dropdown-desc {
    font-size: 15px;
  }
}

.section__contact {
  p {
    font-weight: 600;
  }

  .contact-content {
    .group {
      text-align: center;
      margin-bottom: 1.5rem;
    }
  }
}

.menu-container {
  margin: 80px 128px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 121px - 140px);
}

@media screen and (max-width: 768px) {
  .menu-container {
    margin: 80px 60px;
  }
}

.clickable-scrolling-div {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.limit-width {
  flex: 0 1 240px;
}

.shrinking-spacing {
  flex-basis: 40px;
  flex-shrink: 1;
}

.clickable-head {
  border: 1.5px solid #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  padding: 0 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.dropdown-desc {
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 40px;
}

.dropdown-icon {
  float: right;
  margin: 1px;
  transition: transform 0.1s ease-in;
}

.dropdown-icon-rotated {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.dropdown-entry {
  display: inline-block;
  flex-direction: column;
  margin: 8px 28px;
  margin-right: 8px;
}

.dropdown-entry > * {
  display: block;
  flex-basis: 0;
}

.dropdown-name {
  text-transform: uppercase;
  font-weight: bold;
}

.dropdown-lower {
  text-transform: lowercase;
  font-style: italic;
  font-size: 12px;
}

.retracting-body {
  border: 1.5px solid #fff;
  border-top: none;
  flex-direction: column;
  align-content: center;
  max-height: calc(100vh - 300px);
  overflow: auto;
  display: none;
  padding-bottom: 20px;
}

.apply-button {
  border: 1.5px solid #fff;
  background: transparent;
  color: #fff;
  padding: 8px 0;
  width: 240px;
  line-height: 150%;
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 1380px) {
  .menu-container {
    // flex-direction: column;
    // justify-content: flex-start;
    display: block;
  }

  .dropdown-desc {
    margin-bottom: 28px;
  }

  .retracting-body {
    max-height: none;
  }

  .shrinking-spacing {
    display: none;
  }

  .clickable-scrolling-div {
    margin-bottom: 32px;
  }
}

.retracting-body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.65);
  background-clip: padding-box;
  border-radius: 4px;
  border: 2.5px solid rgba(0, 0, 0, 0);
}

.retracting-body::-webkit-scrollbar {
  width: 8px;
}

@media screen and (min-width: 1408px) {
  .container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 1600px;
  }
}

@media screen and (max-width: 1450px) {
  .event-content {
    flex-direction: column;

    div {
      width: 100% !important;
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  .section__portal .team img {
    width: 85%;
  }
}

@media only screen and (max-width: 1450px) and (min-width: 701px) {
  .section__raw event-content div img {
    width: 50%;
  }
}

@media only screen and (max-width: 943px) {
  .nav__right {
    display: none;
  }

  .mobile-nav-button {
    display: block !important;
    cursor: pointer;
  }

  .home-main-img {
    margin: 1.5rem 0 1.5rem !important;
    max-width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .section__portal .team img {
    width: 75%;
  }

  .section__portal .team a {
    margin-bottom: 5rem !important;
  }

  .section__raw .event-content {
    margin-top: 1rem !important;
  }
}

@media screen and (max-width: 450px) {
  .section__home {
    padding: 0 1.5rem;
  }

  .page-title {
    // margin-bottom: 2rem;
  }

  .nav {
    .nav__left {
      p {
        display: none;
      }
    }
  }
  .section__upcoming {
    .upcoming-img {
      max-width: 100% !important;
      margin-top: -2rem !important;
    }
    .event-name {
      margin-top: 0 !important;
      .mdc-text {
        font-size: 1rem !important;
        margin-bottom: 5px !important;
      }
      .winter-launch-text {
        font-size: 2rem !important;
      }
    }

    .event-details {
      margin: 0 0 1rem !important;
      p {
        font-size: 0.9rem !important;
      }
    }
    .feature-text {
      font-size: 0.9rem;
    }
  }
}
